@use '../base/' as *;
@use 'sass:color';

.contenedorTodo{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(change-color(map-get($colores, "pantalla"), $alpha: 0.6), change-color(map-get($colores, "pantalla"), $alpha: 0.6)), url(../../assets/bg-image-small.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 700px){
    background: linear-gradient(change-color(map-get($colores, "pantalla"), $alpha: 0.6), change-color(map-get($colores, "pantalla"), $alpha: 0.6)), url(../../assets/bg-image-big.jpg);
    background-size: cover;
  }
}